---
import type {ImageMetadata} from "astro";
import {getCollection} from "astro:content";
import Layout from "../layouts/multi.astro";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/source-code-pro";
import '@fontsource/source-sans-pro';
import "@fontsource/roboto";
import "./../styles/GlobalStyling.scss";
import Contact from "../components/Contact.astro";
import Carousel from "../components/Carousel.astro";

const pages = await getCollection("pages");

const ParallaxImagesSrc = import.meta.glob<{ default: ImageMetadata }>("../assets/Albums/Parallax/*");
const ParallaxImages = Object.keys(ParallaxImagesSrc);

const IntroImagesSrc = import.meta.glob<{ default: ImageMetadata }>("../assets/Albums/Intro/*");
const IntroImages = Object.keys(IntroImagesSrc);
const IntroImage = await IntroImagesSrc[IntroImages[0]]();
---

<Layout title="Eckwerk Stuttgart">
    <section class="introimage" style={`background-image: url('${IntroImage.default.src}')`}>
			{pages[0].data.slogan && <h1>{pages[0].data.slogan}</h1>}
        <div>
            <button>Quick Links</button>
        </div>
    </section>

    <section class="subContent">
    </section>

	{pages.map(async (originPage, index) => {
		const {Content} = await originPage.render();
		const imagePath = ParallaxImages[index % ParallaxImages.length];
		const image = await ParallaxImagesSrc[imagePath]();

		return originPage.data.mainStage === true ? (
            <>
                <section class="content"
                         style={`background-image: url('${image.default.src}'); @media (max-width: 768px) { background-image: url('/path/to/mobile-image.jpg'); }`}>

                    <article>
                        <Content/>

											{originPage.data.title === "Kontakt" && (
                              <Contact/>
											)}
                    </article>
                </section>

							{index % 1 === 0 ? (
                      <section class="subContent">

												{(index === 0) &&
                                <Carousel/>}
												{(index === 1) &&
                                <div>Google Reviews</div>}

                      </section>
							) : null}
            </>
		) : null;
	})}
</Layout>

<style lang="scss" is:global>
  @import "./../styles/GlobalStyling";

  section.content {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: cover;

    article {
      min-height: 40vh;
      width: 100vw;
      margin: 62vh auto;
      padding: $spacing-xxl;
      background-color: $color-white;
      border-radius: 4px;

    }
  }

  section.introimage {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      color: white;
      font-size: 4rem !important;
      font-weight: 400;
    }

    div {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      text-align: center;
      padding: 0.5rem;
    }
  }

  section.subContent {
    min-height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-left: unset;
    border-right: unset;

  }
</style>
