---
import type {INavigation} from "../types/navigation";

interface Props {
	navigation: INavigation[];
}

const {navigation} = Astro.props;
const date = new Date();
const year = date.getFullYear();
---

<footer>
    <ul>
			{
				navigation.map((item) => {
					return (
                  <li>
                      <a
                              href={"/" + item.title.toLowerCase()}
                              data-href={item.title}
                              aria-current="page"
                      >
												{item.title}
                      </a>
                  </li>
					);
				})
			}
    </ul>
    <div>
        <p>Eckwerk Stuttgart</p>
        <p>Stierlenstraße 25</p>
        <p>70327 Stuttgart</p>
        <p>Mail: <a href="mailto:hallo@eckwerkstuttgart.de">hallo@eckwerkstuttgart.de</a></p>
        <br/>
        <p>© {year} Eckwerk Stuttgart</p>
    </div>
</footer>


<style lang="scss">
  @import "./../styles/GlobalStyling";

  footer {
    position: fixed;
    height: auto;
    font-size: .65rem;
    bottom: 0;
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem;

    @include min-width("m") {
      font-size: .85rem;
    }

    ul {
      display: flex;
      gap: $spacing-m;
      list-style: none;
      margin: unset;
      padding-bottom: 1rem;

      @include min-width("m") {
        padding-bottom: unset;
        justify-content: center;
        align-items: center;
      }

      li {
        padding-left: 0;
      }
    }

    div {
      @include min-width("m") {
        display: flex;
        gap: $spacing-m;
        flex-direction: row;
        justify-content: center;
      }

      p {
        margin: unset;
      }
    }

    a {
      color: $color-white;

    }
  }
</style>
