---
import type {INavigation} from "../types/navigation";
import Contact from "./Contact.astro";
import Copyright from "./Copyright.astro";

interface Props {
	navigation: INavigation[];
}

const {navigation} = Astro.props;
---

<footer>
    <Copyright/>
    <Contact/>
    <ul>
			{
				navigation.map((item) => {
					return (
                  <a
                          href={item.title}
                          data-href={item.title}
                          aria-current="page"
                  >
										{item.title}
                  </a>

					);
				})
			}
    </ul>
</footer>
