---
import {Image} from 'astro:assets';
import introImage from '../assets/Albums/Intro/IntroImage.jpg';

interface Props {
	slogan: string;
}

const {slogan} = Astro.props;
---

<div>
	{introImage &&
          <Image src={introImage} alt={slogan}/>}
	{slogan && <h1>{slogan}</h1>}

    <div>
        <button>Quick Links</button>
    </div>
</div>

<style lang="scss">
  @import "./../styles/GlobalStyling";

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h1 {
      position: absolute;
      top: 33%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 5rem !important;
      font-weight: 200;
      text-align: center;
      padding: 0.5rem;
      width: 100%;
    }

    div {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      text-align: center;
      padding: 0.5rem;
    }
  }
</style>
