---
interface Props {
	id?: string
	onlyPass?: boolean
	withoutImages?: boolean
	images?: string[] | null
}

/**
 * @param {Props} Astro.props
 */
const { id, onlyPass = false, withoutImages = false, images } = Astro.props

const imageDesktop = images ? images[0] : ''
const imageMobile = images ? images[1] : ''
---

<section class="relative scroll-m-52" id={id}>
	{
		onlyPass ? (
			<slot />
		) : (
			<>
				<article class="text-l md:py-18 bg-white px-6 py-10 contain-content last:min-h-max sm:px-12 sm:py-14 md:px-16 lg:px-36 lg:py-28 xl:px-52">
					<slot />
				</article>
				{images !== null && !withoutImages ? (
					<div class="inset-0 h-max w-max">
						<picture>
							<source media="(max-width: 767px)" srcset={imageMobile} />
							<source media="(min-width: 768px)" srcset={imageDesktop} />
							<img
								src={imageMobile}
								alt="Content Image"
								class="w-screen object-cover sm:aspect-auto lg:h-screen"
							/>
						</picture>
					</div>
				) : null}
			</>
		)
	}
</section>
